NoneCursor	Cursor	None.cur
DialogCursor	Cursor	talk_0.cur
AttackCursor	Cursor	attack_0.cur
BuyCursor	Cursor	Buy.cur
SellCursor	Cursor	Sell.cur
RepairCursor	Cursor	Repair.cur
SelItem		Cursor	stgt_0.cur
Deal		Cursor	deal_0.cur
OpenBox		Cursor	OpenBox.cur
Srepair		Cursor	srepair_0.cur